@import "tailwindcss";
@tailwind utilities;

@utility flex-header {
    @apply flex justify-center md:justify-end items-center gap-6 p-5 md:pr-20;
}

@utility font-header {
    @apply font-sans text-shadow-lg text-gray-400 text-lg transition-colors duration-300;
}

@utility align-title {
    @apply flex align-text-bottom;
}

@utility font-subtitles {
    @apply font-[Stack_Sans] text-3xl md:text-5xl text-white text-center;
}

@utility project-Card{
    @apply mx-auto mt-25 rounded-lg bg-transparent text-white border border-gray-50 p-6 md:pl-20 pt-5 pb-5 w-full max-w-6xl flex flex-col justify-center items-center;
}

@layer {

    .tab-content {
        @apply hidden;
        /*Hide all the panels by default */
    }

    .tab-content.active-content {
        @apply block;
        /*Only shows who has 'active-content */
    }

    .tab-btn {
        @apply text-gray-500 hover:text-white;
        /* Inactive button style */
    }

    .tab-btn.active-btn {
        @apply font-semibold text-white border-b-2 border-white -mb-px;
        /* Active button style */
    }

        /* Utility for fade animation */
    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    .animate-fade-in {
        animation: fade-in 0.5s ease-in-out;
    }
}

@utility codeDisplay-style {
    @apply p-4 w-full max-w-4xl mx-auto h-96 overflow-auto rounded-lg border border-gray-700 bg-gray-900 shadow-lg mt-5;
}

/* CERTIFICATE FLASHCARDS*/
@layer components {
    /* Main Wrapper */
    .card {
        /* Added w-full here so the container spans the screen width */
        @apply grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-6xl mx-auto px-4;
    }

    /* Individual Flashcard */
    .card-layOne {
        @apply bg-gray-800 rounded-xl overflow-hidden flex flex-col shadow-xl border border-gray-700 w-full hover:shadow-2xl transition-shadow duration-300;
    }

    /* Image Container */
    .card-layTwo {
        @apply aspect-video w-full overflow-hidden cursor-zoom-in relative z-0 flex justify-center;
    }

    /* The Image */
    .img-certificate {
        @apply w-full h-full object-cover transition-transform duration-300;
        @apply group-hover:scale-105;
    }
}
/*------------------------------------------------------ */

@utility techCards {
    @apply h-auto w-full max-w-md rounded-lg bg-gray-900/50 text-white border border-gray-700 p-6 flex flex-col items-center;
}

@utility img-Tech {
    @apply flex justify-center gap-6 mt-6;
}

@utility img-hover {
    @apply size-12 md:size-16 transition-transform duration-300 hover:scale-110;
}



